*{
margin:0;
padding:0;
box-sizing: border-box;
--orange:#F27405;
--black:#0D0D0D;
--white:#F2F2F2;
--tan:#FFD9A6;
}
body{
    background-color:var(--orange);
    background-image:url("paintsplash.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}
.container{
    margin:25px auto;
    padding:5px;
    width:50%;
}
.song-container{
    display:flex;
}
h1{
    font-weight:700;
    font-size: 50px;
    text-align:center;
}
h1,h2{
    text-transform:uppercase;
}
h1,h2,h3{
    font-family:oswald, sans-serif;
}
h3{
    text-align:center;
}
.lyric-1,.lyric-2{
    margin:20px;
    padding:5px;
    flex:1;
}
.lyric-3{
    margin:20px;
    padding:5px;
}
.song-lyric-container{
    background-color:var(--tan);
    padding:20px;
}
.song-lyric{
    text-align:justify;
    line-height:26px;
    font-size:14px;
    font-family:roboto,sans-serif;
}
.sideway-title{
    text-align:center;
    color:var(--white);
}
.right-title{
    text-align:center;
    color:var(--white);
    background-color:var(--black);
    width:120px
}
.homebody,.pushme{
    padding-bottom:20px;
}
.tid{
    padding-bottom:15px;
}
.caps{
    font-size:30px;
    font-weight:700;
    color:var(--orange);
}
.highlight{
    padding:1px;
    background-image: linear-gradient(black 50%, var(--orange) 50%);
    background-size: auto 175%;
    transition: background 0.3s ease-in-out;
    color:var(--white);
}
.highlight:hover{
    background-position-y: 100%;
    cursor:pointer;
}
.link{
    color:var(--orange);
    box-shadow: inset 0 0 0 0 var(--orange);
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.link:hover{
    color:var(--white);
    box-shadow: inset 150px 0 0 0 var(--orange);
    cursor:pointer;

}
.white{
    color:var(--white);
}
.second-song{
    height:730px;
}
.artist{
    text-transform:none;
}
@media screen and (max-width: 600px) {
    .container{
        width:100%;
    }
    .song-container{
        display:block;
    }
}
