*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
    --white:#F1F1F1;
    --offblack:#262626;
    --purple:#6441A6;
    --whitegray:#D9D9D9;
}
@media(prefers-color-scheme: dark){
    *{
        --text-color:var(--whitegray);
        --accent-color:var(--purple);
        --page-background:var(--offblack);
        --card-background:var(--offblack);
    }
}
@media(prefers-color-scheme: light){
    *{
        --text-color:var(--offblack);
        --accent-color:var(--purple);
        --page-background:var(--whitegray);
        --card-background:var(--whitegray);
    }
}
body[data-theme='dark'] {
    --text-color:var(--whitegray);
    --accent-color:var(--purple);
    --page-background:var(--offblack);
    --card-background:var(--offblack);
  }
  
  body[data-theme='light'] {
    --text-color:var(--offblack);
    --accent-color:var(--purple);
    --page-background:var(--whitegray);
    --card-background:var(--whitegray);
  }
body{
    display:flex;
    justify-content:center;
    margin:3.125rem;
    color:var(--text-color);
    background-color:var(--page-background);
}
.container{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    width:50%;
    border:10px solid var(--accent-color);
}
.container p{
    line-height:25px;
}
.toggle-button-container{
    position:relative;
    top:3.125rem;
    left:12.5rem;
}
.toggle-select {
    border: 5px solid var(--accent-color);
    padding:0.625rem;
    font-size:1.125rem;
    background-color:var(--card-background);
    color:var(--text-color);
  }
.content{
    padding:1.5625rem;
}